.ParentDiv {
    height: 100vh;
}

.Banner{
    width: 100%;
    background-color: #EDEEF4;
    position: fixed;
    top: 0;
}

.Banner p{
    display: none;
    margin-right: 20px;
}

.Welcome{
    color: #EDEEF4;
    margin-top: 58px;
    height: 100%;
    display: grid;
    place-items: center;
    /* box-sizing: border-box; */
}

.Welcome h1{
    font-size: 35px;
}

.Welcome p {
    font-size: 20px;
}

.Welcome button:first-of-type {
    margin-right: 5px;
}

@media (min-width: 600px) {
    .Banner p {
        display: inline-block;
    }

    .Welcome {
        margin-top: 70px;
    }
}

@media (min-width: 1000px) {
    .Welcome h1{
        font-size: 50px;
    }
    
    .Welcome p {
        font-size: 35px;
    }
    
    .Welcome button {
        font-size: 24px;
        margin-top: 30px;
    }
}