.Alert {
    background-color: #EDEEF4;
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 14px;
}

.Alert button:first-of-type{
    margin-right: 5px;
}

@media (min-width: 600px) {
    .Alert {
        font-size: 16px;
    }
}