/* General style */

.Message {
    display: grid;
    width: 100%;
    max-width: 700px;
    text-align: left;
    box-sizing: border-box;
}

.UserImage {
    display: none;
    border-radius: 100%;
    height: 75px;
    margin: 0 10px;
}

.MsgText {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 170px;
    position: relative;
    overflow-wrap: break-word;
}

.MsgText p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 200;
}

.MsgText h3 {
    font-size: 16px;
    font-weight: 400;
}

.ArrowLeft, .ArrowRight {
    display: none;
    margin-top: 17px;
}

.DeleteIcon {
    width: 10px;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.NewMsg {
    opacity: 0;
    animation: newMsg 0.5s ease-out 0.2s forwards;
}

@keyframes newMsg {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    50% {
        opacity: 1;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Received format */
.Received {
    justify-content: left;
    grid-template-columns: auto auto;
}

.Received .MsgText {
    background: linear-gradient(104.28deg, #E9F1F7 0%, #bfd3e2 100%);
}

.Received .ArrowLeft {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #E9F1F7;
}

/* Sent format */
.Sent {
    justify-content: right;
    grid-template-columns: auto auto;
}

.Sent .UserImage {
    order: 2;
}

.Sent .MsgText {
    background: linear-gradient(104.28deg, #E5E1D5 0%, #d2ccbb 100%);
}

.Sent .ArrowRight {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #d2ccbb;
}

@media (min-width: 600px) {
    .UserImage {
        display: block;
    }

    .Received {
        justify-self: left;
        grid-template-columns: auto auto 1fr;
    }

    .Sent {
        justify-self: right;
        grid-template-columns: 1fr auto auto;
    }

    .MsgText h3 {
        font-size: 18px;
    }

    .MsgText p {
        font-size: 16px;
    }

    .DeleteIcon {
        width: 12px;
    }
}