.ParentDiv {
    width: 100%;
    background-color: #EDEEF4;
    position: fixed;
    z-index: 100;
    top: 0;
}

.Info {
    display: none;
    font-size: 16px;
}

@media (min-width: 600px) and (min-height: 650px){
    .Info {
        display: inline-block;
    }
}
