.MsgForm {
    width: 100%;
    display: grid;
    grid-template-columns: auto 105px;
    
    position: fixed;
    bottom: 0;
}

.MsgForm input {
    background-color: #EDEEF4;
    color: #1E234A;
    font-size: 16px;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.SendButton {
    color: #EDEEF4;
    font-size: 20px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: linear-gradient(104.28deg, #bf5585 0%, #d4749f 100%);
}

.SendButton:hover {
    color: #1E234A;
}

.SendButton:disabled, .SendButton[disabled] {
    color: lightgray;
    background: gray;
    cursor: not-allowed;
}

@media (min-width: 650px) and (min-height: 650px){
    .MsgForm {
        grid-template-columns: auto 139px;
    }

    .MsgForm input {
        padding: 25px;
        font-size: 20px;
    }
    
    .SendButton {
        padding: 25px;
        font-size: 25px;
    }
}