/* .ParentDiv {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
} */

.Messages {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    overflow: auto;
    box-sizing: border-box;
    margin-top: 58px;
    margin-bottom: 63px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 600px){
    .Messages {
        margin-top: 70px;
        margin-bottom: 83px;
    }
}
