.App {
  text-align: center;
  color: #1E234A;
  font-family: 'Roboto Slab', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */
.show {
  display: block;
}

.hide {
  display: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #EDEEF4;
  text-decoration: none;
}

a:active {
  color: #EDEEF4;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto Slab', serif;
  transition: all 0.5s ease;
}

button.secondary {
  padding: 10px;
  color: #1E234A;
  border: 2px #1E234A solid;
  font-weight: bold;

  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
}

button.secondary_light {
  padding: 10px;
  color: #EDEEF4;
  border: 2px #EDEEF4 solid;
  font-weight: bold;

  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
}

input, textarea {
  outline: none;
  border: none;
  font-family: 'Roboto Slab', serif;
}

button.secondary:hover, button.secondary_light:hover{
  border: 2px #bf5585 solid;
}

@media (min-width: 600px) {
  button.secondary, button.secondary_light {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
