.Background{
    background: url('/assets/background.png') #1E234A;
    background-size: 85px;
    background-repeat: repeat;
    background-position:top;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}